@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;800;900&display=swap");
.nav {
  z-index: 9999;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .left-side i {
  position: relative;
  font-size: 20px;
  color: #FFFFFF;
}

.nav .left-side i::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 2px;
  background-color: #151515;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.nav .left-side p {
  font-size: 20px;
  position: relative;
  color: #FFFFFF;
}

.nav .left-side p::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -11px;
  border-style: solid;
  border-width: 0 8px 8px 0;
  border-color: transparent #FFFFFF transparent transparent;
}

.nav .left-side p b {
  font-weight: 700;
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-left: -15%;
}

.nav .nav-list li {
  margin-right: 20px;
}

.nav .nav-list li a {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

.nav .nav-list li i {
  font-size: 24px;
  font-weight: 400;
  margin-left: -18px;
  color: #FFFFFF;
}

.nav .right-side a {
  background-color: #FA3C45;
  padding: 14px 24px;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  position: relative;
}

.nav .right-side a::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -60px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fde5e6;
}

#model-sv .model {
  background-image: -webkit-gradient(linear, left top, right top, from(#000000), to(#fff));
  background-image: linear-gradient(to right, #000000, #fff);
  position: relative;
  top: -92px;
  left: 0;
}

#model-sv .model .box {
  padding: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#model-sv .model .box a {
  background-color: #FA3C45;
  padding: 14px 24px;
  color: white;
  border: none;
  border-radius: 8px;
}

#model-sv .model .box .content-btn {
  padding-top: 70px;
}

#model-sv .model .box .content-btn h1 {
  color: #FFFFFF;
  font-size: 62px;
  font-weight: 700;
  padding: 20px 0;
}

#model-sv .model .box .content-btn h5 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
}

#model-sv .model .box .content-btn .list-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  padding: 30px 0 60px 0;
}

#model-sv .model .box .content-btn .list-model li {
  margin-right: 50px;
  font-size: 16px;
  font-weight: 700;
}

#model-sv .model .box .content-btn .list-model li p {
  color: #FA3C45;
  padding-top: 10px;
}

#model-sv .model .box .dots .dot {
  width: 10px;
  height: 10px;
  background-color: #FA3C45;
  border-radius: 50%;
  position: relative;
}

#model-sv .model .box .dots .dot::after {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

#model-sv .model .box .dots .dot::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

#model-sv .select-search {
  margin-top: -50px;
  padding: 0 50px 50px 50px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#model-sv .select-search .submit-btn {
  background-color: #fa3c45;
  padding: 6px 24px 6px 24px;
  color: white;
  border: none;
  border-radius: 8px;
}

#model-sv .select-search .select-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#model-sv .select-search .select-form .form-select {
  width: 420px;
  height: 35px;
  margin-right: 30px;
}

#our-collection {
  background-color: #f7f7fc;
  padding: 100px 0;
}

#our-collection .content-model .content-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#our-collection .content-model .content-icon .icons i {
  color: #FA3C45;
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 5px;
}

#our-collection .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#our-collection .boxes .p-2 {
  height: 400px;
  width: 400px;
}

#our-collection .boxes .p-2 img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#our-collection .boxes .p-1 {
  height: 400px;
  width: 816px;
}

#our-collection .boxes .p-1 img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#milestone {
  padding: 100px 0;
  background-color: #f7f7fc;
}

#milestone .over-develop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0 0 10px;
}

#milestone .over-develop h2 {
  font-size: 48px;
  font-weight: 700;
}

#milestone .over-develop p {
  color: #9a9ab0;
  font-size: 16px;
  font-weight: 400;
}

#milestone .over-develop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#milestone .over-develop ul li {
  margin-right: 16%;
  font-size: 50px;
  font-weight: 700;
  color: #9a9ab0;
}

#milestone .over-develop ul li:first-child {
  color: #FA3C45;
  font-size: 50px;
  font-weight: 700;
}

#milestone .over-develop ul li:first-child p {
  color: #FA3C45;
}

#features {
  background-color: #c5010a;
  padding: 7% 0;
}

#features .left-side {
  padding-right: 10%;
}

#features .left-side h2 {
  font-size: 49px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: capitalize;
  padding-bottom: 20px;
}

#features .left-side p {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
}

#features .left-side ul {
  padding-left: 50px;
  padding-top: 20px;
}

#features .left-side ul li {
  position: relative;
  padding-bottom: 20px;
}

#features .left-side ul li::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  top: 0;
  left: -50px;
}

#features .left-side ul li h5 {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

#features .left-side ul li p {
  font-size: 16px;
  line-height: 20px;
}

#features .right-side {
  border-radius: 5px;
}

#features .right-side img {
  border-radius: 5px;
  width: 570px;
}

#clients {
  padding: 5% 0;
}

#clients .our-top-brands .title-brand {
  text-align: center;
  text-transform: capitalize;
}

#clients .our-top-brands .title-brand h2 {
  font-size: 20px;
  font-weight: 700;
  color: #11142d;
}

#clients .our-top-brands .list-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
}

#new-items {
  background-color: #f7f7fc;
  padding: 10% 0;
}

#new-items .title-items h2 {
  color: #11142d;
  padding-bottom: 3%;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}

#new-items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

#new-items .items .item {
  width: 558px;
  border-radius: 5px;
  position: relative;
}

#new-items .items .item img {
  width: 540px;
  border-radius: 5px;
}

#new-items .items .item.right-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
}

#new-items .items .item.right-items .pos {
  position: relative;
}

#new-items .items .item.right-items img {
  height: 400px;
  border-radius: 5px;
}

#new-items .items .item.right-items div {
  padding-right: 5px;
}

#new-items .items .new-btn {
  border: none;
  color: #FA3C45;
  background-color: #f6f7fb;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  border-radius: 5px;
  top: 15px;
  left: 15px;
}

#new-items .items .new-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 15%;
}

#new-items .items .new-model h2 {
  color: #FFFFFF;
  font-size: 39px;
}

#new-items .items .new-model h5 {
  color: #FFFFFF;
  padding: 0;
  margin-top: -15px;
}

#new-items .items .new-model span {
  color: #FA3C45;
  font-size: 31px;
  font-weight: 700;
  margin-bottom: 16px;
}

#reviews {
  background-color: #f7f7fc;
  padding-bottom: 10%;
}

#reviews .header {
  text-align: center;
}

#reviews .header h2 {
  color: #2e2e2e;
  font-size: 48px;
  font-weight: 700;
  padding: 1% 26%;
}

#reviews .header p {
  padding: 1% 22%;
}

#reviews .img-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#reviews .img-testimonial .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3% 0;
}

#reviews .img-testimonial .testimonial h4 {
  font-size: 31px;
  font-weight: 700;
  padding: 0 11%;
  text-align: center;
}

#reviews .img-testimonial .testimonial p {
  color: #92929d;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  padding: 5% 0;
}

#reviews .img-testimonial .testimonial h6 {
  font-size: 16px;
  font-weight: 700;
  color: #FA3C45;
}

#reviews .img-testimonial .testimonial span {
  color: #92929d;
  font-size: 14px;
  font-weight: 400;
}

#download-app {
  padding-top: 5%;
}

#download-app .download-our-app {
  padding-top: 15%;
}

#download-app .download-our-app h2 {
  font-size: 48px;
  font-weight: 700;
  color: #11142d;
  text-transform: capitalize;
}

#download-app .download-our-app p {
  font-size: 16px;
  font-weight: 400;
  color: #92929d;
  padding: 3% 0;
}

#download-app .download-our-app ul {
  padding: 0;
}

#download-app .download-our-app ul li {
  font-size: 16px;
  font-weight: 700;
  color: #11142d;
  margin-bottom: 2%;
  text-transform: capitalize;
}

#download-app .download-our-app ul li i {
  color: #FA3C45;
  background-color: #FFFFFF;
  margin-right: 1%;
}

#download-app .download-our-app .logo-btn {
  padding-top: 5%;
}

#download-app .download-our-app .logo-btn .logo, #download-app .download-our-app .logo-btn .play {
  display: inline-block;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  width: 40%;
  text-align: center;
  margin-right: 2%;
  color: black;
  font-size: 22px;
  font-weight: 700;
}

#download-app .download-our-app .logo-btn .logo p, #download-app .download-our-app .logo-btn .play p {
  font-weight: 400;
  font-size: 12px;
  color: #92929d;
  margin: 0;
  margin-bottom: -13px;
}

#download-app .download-our-app .logo-btn .play {
  background-color: black;
  color: #FFFFFF;
  text-align: center;
}

#download-app .download-our-app .logo-btn .play p {
  text-align: justify;
  padding-left: 21%;
  text-transform: uppercase;
  margin-bottom: -13px;
  font-size: 12px;
}

#newsletter {
  background-color: #f7f7fc;
  padding: 5% 0;
}

#newsletter .header-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#newsletter .header-input h2 {
  color: #11142d;
  font-size: 48px;
  font-weight: 700;
}

#newsletter .header-input p {
  color: #92929d;
  font-size: 16px;
  font-weight: 400;
}

#newsletter .header-input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
  position: relative;
  margin-right: 10%;
}

#newsletter .header-input form .name-input,
#newsletter .header-input form .email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#newsletter .header-input form .email-input {
  margin: 0 2%;
}

#newsletter .header-input form .inp-btn {
  position: absolute;
  bottom: 3px;
  right: -127px;
  background-color: #FA3C45;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  height: 43px;
  line-height: 14px;
  text-align: center;
  padding: 2% 3%;
}

#newsletter .header-input form label {
  color: #11142d;
  font-size: 12px;
  font-weight: 600;
}

#newsletter .header-input form input {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  background-color: #FFFFFF;
  border: none;
  display: inline-block;
  padding: 4%;
  border-radius: 5px;
  width: 280px;
  margin-top: 5%;
}

footer {
  background-color: #c5010a;
  padding: 5% 0 1% 0;
}

#footer-contact .logo-company-social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer-contact .logo-company-social-contact .logo-footer .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer-contact .logo-company-social-contact .logo-footer .left-side i {
  position: relative;
  font-size: 20px;
  color: #FFFFFF;
}

#footer-contact .logo-company-social-contact .logo-footer .left-side i::after {
  background-color: #c5010a;
  content: "";
  position: absolute;
  top: 18px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

#footer-contact .logo-company-social-contact .logo-footer .left-side .logo, #footer-contact .logo-company-social-contact .logo-footer .left-side #download-app .download-our-app .logo-btn .play, #download-app .download-our-app .logo-btn #footer-contact .logo-company-social-contact .logo-footer .left-side .play {
  font-size: 20px;
  position: relative;
  color: #FFFFFF;
}

#footer-contact .logo-company-social-contact .logo-footer .left-side .logo::after, #footer-contact .logo-company-social-contact .logo-footer .left-side #download-app .download-our-app .logo-btn .play::after, #download-app .download-our-app .logo-btn #footer-contact .logo-company-social-contact .logo-footer .left-side .play::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -11px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 0;
  border-color: transparent #FFFFFF transparent transparent;
}

#footer-contact .logo-company-social-contact .logo-footer .left-side .logo b, #footer-contact .logo-company-social-contact .logo-footer .left-side #download-app .download-our-app .logo-btn .play b, #download-app .download-our-app .logo-btn #footer-contact .logo-company-social-contact .logo-footer .left-side .play b {
  font-weight: 700;
}

#footer-contact .logo-company-social-contact .logo-footer .our-studio {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  width: 53%;
  text-align: justify;
  margin-top: 5%;
}

#footer-contact .logo-company-social-contact .company-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer-contact .logo-company-social-contact .company-social-list ul {
  margin-right: 20%;
}

#footer-contact .logo-company-social-contact .company-social-list ul li {
  margin-bottom: 10%;
}

#footer-contact .logo-company-social-contact .company-social-list ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

#footer-contact .logo-company-social-contact .company-social-list ul li:nth-child(2) {
  margin-top: 25%;
}

#footer-contact .logo-company-social-contact .company-social-list ul li:first-child a {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
}

#footer-contact .logo-company-social-contact .contact-list ul li {
  margin-bottom: 4%;
}

#footer-contact .logo-company-social-contact .contact-list ul li a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: nul;
      -ms-flex-pack: nul;
          justify-content: nul;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer-contact .logo-company-social-contact .contact-list ul li a i {
  margin-right: 3%;
  font-size: 22px;
}

#copyright p {
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 3%;
}

.nav .left-side i::after {
  background-color: #c5010a;
}

#explore {
  background-color: #c5010a;
  height: 50vh;
  position: relative;
  top: -92px;
  left: 0;
}

#explore h1 {
  position: absolute;
  top: 50%;
  left: 39%;
  font-size: 62px;
  font-weight: 700;
  color: #FFFFFF;
}

#home-inventory .breadcrumb-inp ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home-inventory .breadcrumb-inp ul li, #home-inventory .breadcrumb-inp ul a {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

#home-inventory .breadcrumb-inp .select-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2%;
}

#home-inventory .breadcrumb-inp .select-form div {
  padding: 0 2% 2% 0;
  border-radius: 7px;
}

#home-inventory .breadcrumb-inp .select-form div .form-select {
  padding: 5%;
}

#contents {
  padding-top: 5%;
}

#contents .categories-tesla .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contents .categories-tesla .categories .form-search .search-btn {
  border: none;
  background-color: #FA3C45;
  color: #FFFFFF;
}

#contents .categories-tesla .categories ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contents .categories-tesla .categories ul li:first-child {
  color: #FA3C45;
}

body {
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
