@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;800;900&display=swap");
.nav {
  z-index: 9999;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .left-side i {
  position: relative;
  font-size: 20px;
  color: #FFFFFF;
}

.nav .left-side i::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 2px;
  background-color: #151515 !important;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.nav .left-side p {
  font-size: 20px;
  position: relative;
  color: #FFFFFF;
}

.nav .left-side p::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -11px;
  border-style: solid;
  border-width: 0 8px 8px 0;
  border-color: transparent #FFFFFF transparent transparent;
}

.nav .left-side p b {
  font-weight: 700;
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-left: -4%;
}

.nav .nav-list li {
  margin-right: 20px;
}

.nav .nav-list li a {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

.nav .nav-list li i {
  font-size: 24px;
  font-weight: 400;
  margin-left: -18px;
  color: #FFFFFF;
}

.nav .right-side a {
  background-color: #FA3C45;
  padding: 14px 24px;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  position: relative;
}

.nav .right-side a::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -60px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fde5e6;
}

#model-sv .model {
  background-image: -webkit-gradient(linear, left top, right top, from(#000000), to(#fff));
  background-image: linear-gradient(to right, #000000, #fff);
  position: relative;
  top: -92px;
  left: 0;
}

#model-sv .model .box {
  padding: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#model-sv .model .box a {
  background-color: #FA3C45;
  padding: 14px 24px;
  color: white;
  border: none;
  border-radius: 8px;
}

#model-sv .model .box .content-btn {
  padding-top: 70px;
}

#model-sv .model .box .content-btn h1 {
  color: #FFFFFF;
  font-size: 62px;
  font-weight: 700;
  padding: 20px 0;
}

#model-sv .model .box .content-btn h5 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
}

#model-sv .model .box .content-btn .list-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  padding: 30px 0 60px 0;
}

#model-sv .model .box .content-btn .list-model li {
  margin-right: 50px;
  font-size: 16px;
  font-weight: 700;
}

#model-sv .model .box .content-btn .list-model li p {
  color: #FA3C45;
  padding-top: 10px;
}

#model-sv .model .box .dots .dot {
  width: 10px;
  height: 10px;
  background-color: #FA3C45;
  border-radius: 50%;
  position: relative;
}

#model-sv .model .box .dots .dot::after {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

#model-sv .model .box .dots .dot::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

#model-sv .select-search {
  margin-top: -50px;
  padding: 0 50px 50px 50px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#model-sv .select-search .submit-btn {
  background-color: #fa3c45;
  padding: 6px 24px 6px 24px;
  color: white;
  border: none;
  border-radius: 8px;
}

#model-sv .select-search .select-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#model-sv .select-search .select-form .form-select {
  cursor: pointer;
  width: 420px;
  height: 35px;
  margin-right: 30px;
  border: 1px solid #9a9ab0;
}

#model-sv .select-search .select-form .form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#our-collection {
  background-color: #f7f7fc;
  padding: 150px 0;
}

#our-collection .content-model {
  padding-bottom: 3%;
}

#our-collection .content-model .content-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#our-collection .content-model .content-icon .icons i {
  color: #FA3C45;
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 5px;
}

#our-collection .content-model .content-icon .content h1 {
  color: #11142d;
  font-size: 62px;
  font-weight: 700;
}

#our-collection .model-sx {
  margin-bottom: 1%;
  position: relative;
}

#our-collection .model-sx .pos-model-sx {
  position: absolute;
  bottom: 25px;
  left: 45px;
}

#our-collection .model-sx .pos-model-sx p {
  font-size: 12px;
  font-weight: 700;
  color: #fde5e6;
}

#our-collection .model-sx .pos-model-sx h2 {
  color: #FA3C45;
  font-size: 50px;
  font-weight: 700;
  margin-top: -15px;
}

#our-collection .model-sx .pos-model-sx ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#our-collection .model-sx .pos-model-sx ul li {
  margin-right: 16%;
  color: #fde5e6;
  font-size: 14px;
  font-weight: 700;
}

#our-collection .model-sx .pos-model-sx i {
  color: #FFFFFF;
}

#our-collection .col-md-4 .img:nth-child(1) {
  margin-left: 5px;
}

#milestone {
  padding: 100px 0;
  background-color: #f7f7fc;
}

#milestone .img {
  width: 608px;
  height: 544px;
}

#milestone .over-develop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0 0 10px;
}

#milestone .over-develop h2 {
  font-size: 48px;
  font-weight: 700;
}

#milestone .over-develop p {
  color: #9a9ab0;
  font-size: 16px;
  font-weight: 400;
}

#milestone .over-develop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#milestone .over-develop ul li {
  margin-right: 16%;
  font-size: 50px;
  font-weight: 700;
  color: #9a9ab0;
}

#milestone .over-develop ul li:first-child {
  color: #FA3C45;
  font-size: 50px;
  font-weight: 700;
}

#milestone .over-develop ul li:first-child p {
  color: #FA3C45;
}

#features {
  background-color: #c5010a;
  padding: 7% 0;
}

#features .left-side {
  padding-right: 10%;
}

#features .left-side h2 {
  font-size: 49px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: capitalize;
  padding-bottom: 20px;
}

#features .left-side p {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
}

#features .left-side ul {
  padding-left: 50px;
  padding-top: 20px;
}

#features .left-side ul li {
  position: relative;
  padding-bottom: 20px;
}

#features .left-side ul li::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  top: 0;
  left: -50px;
}

#features .left-side ul li h5 {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

#features .left-side ul li p {
  font-size: 16px;
  line-height: 20px;
}

#features .right-side .img {
  border-radius: 5px;
  width: 608px;
  height: 608px;
}

#features .right-side .img img {
  border-radius: 5px;
}

#clients {
  padding: 5% 0;
}

#clients .our-top-brands .title-brand {
  text-align: center;
  text-transform: capitalize;
}

#clients .our-top-brands .title-brand h2 {
  font-size: 20px;
  font-weight: 700;
  color: #11142d;
}

#clients .our-top-brands .list-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
}

#new-items {
  background-color: #f7f7fc;
  padding: 10% 0;
}

#new-items .title-item h2 {
  color: #11142d;
  padding-bottom: 3%;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}

#new-items .left-side {
  position: relative;
}

#new-items .left-side .img {
  width: 608px;
  height: 830px;
  border-radius: 8px;
}

#new-items .left-side .img img {
  border-radius: 8px;
}

#new-items .right-side {
  margin-left: -55px;
}

#new-items .right-side .img {
  width: 296px;
  height: 408px;
  border-radius: 8px;
  margin-right: 10px;
}

#new-items .right-side .img img {
  border-radius: 8px;
}

#new-items .right-side .item2 {
  margin-top: -5%;
}

#new-items .right-side .img-pos {
  position: relative;
}

#new-items .new {
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  left: 25px;
  color: #FA3C45;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 0 5px;
}

#new-items .model-sv {
  position: absolute;
  bottom: 10%;
  left: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#new-items .model-sv .txt {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

#new-items .model-sv p {
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 4px;
  text-transform: capitalize;
}

#new-items .model-sv .price {
  font-size: 24px;
  font-weight: 700;
  color: #FA3C45;
}

#reviews {
  background-color: #f7f7fc;
  padding-bottom: 10%;
}

#reviews .header {
  text-align: center;
}

#reviews .header h2 {
  color: #2e2e2e;
  font-size: 48px;
  font-weight: 700;
  padding: 1% 26%;
}

#reviews .header p {
  padding: 1% 22%;
}

#reviews .img-testimonial .img-testimonial-owl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#reviews .img-testimonial .img-testimonial-owl .img-owl {
  width: 520px;
  height: 448px;
}

#reviews .img-testimonial .img-testimonial-owl .testimonial-owl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3% 0;
}

#reviews .img-testimonial .img-testimonial-owl .testimonial-owl h4 {
  font-size: 31px;
  font-weight: 700;
  padding: 0 11%;
  text-align: center;
}

#reviews .img-testimonial .img-testimonial-owl .testimonial-owl p {
  color: #92929d;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  padding: 5% 0;
}

#reviews .img-testimonial .img-testimonial-owl .testimonial-owl h6 {
  font-size: 16px;
  font-weight: 700;
  color: #FA3C45;
}

#reviews .img-testimonial .img-testimonial-owl .testimonial-owl span {
  color: #92929d;
  font-size: 14px;
  font-weight: 400;
}

#download-app {
  padding-top: 5%;
}

#download-app .img {
  width: 443px;
  height: 878px;
}

#download-app .download-our-app {
  padding-top: 15%;
}

#download-app .download-our-app h2 {
  font-size: 48px;
  font-weight: 700;
  color: #11142d;
  text-transform: capitalize;
}

#download-app .download-our-app p {
  font-size: 16px;
  font-weight: 400;
  color: #92929d;
  padding: 3% 0;
}

#download-app .download-our-app ul {
  padding: 0;
}

#download-app .download-our-app ul li {
  font-size: 16px;
  font-weight: 700;
  color: #11142d;
  margin-bottom: 2%;
  text-transform: capitalize;
}

#download-app .download-our-app ul li i {
  color: #FA3C45;
  background-color: #FFFFFF;
  margin-right: 1%;
}

#download-app .download-our-app .logo-btn {
  padding-top: 5%;
}

#download-app .download-our-app .logo-btn .logo, #download-app .download-our-app .logo-btn .play {
  display: inline-block;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  width: 40%;
  text-align: center;
  margin-right: 2%;
  color: black;
  font-size: 22px;
  font-weight: 700;
}

#download-app .download-our-app .logo-btn .logo p, #download-app .download-our-app .logo-btn .play p {
  font-weight: 400;
  font-size: 12px;
  color: #92929d;
  margin: 0;
  margin-bottom: -13px;
}

#download-app .download-our-app .logo-btn .play {
  background-color: black;
  color: #FFFFFF;
  text-align: center;
}

#download-app .download-our-app .logo-btn .play p {
  text-align: justify;
  padding-left: 21%;
  text-transform: uppercase;
  margin-bottom: -13px;
  font-size: 12px;
}

#newsletter {
  background-color: #f7f7fc;
  padding: 10% 0;
}

#newsletter .header-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#newsletter .header-input h2 {
  color: #11142d;
  font-size: 48px;
  font-weight: 700;
}

#newsletter .header-input p {
  color: #92929d;
  font-size: 16px;
  font-weight: 400;
}

#newsletter .header-input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
  position: relative;
  margin-right: 10%;
}

#newsletter .header-input form .name-input,
#newsletter .header-input form .email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#newsletter .header-input form .email-input {
  margin: 0 2%;
}

#newsletter .header-input form .inp-btn {
  position: absolute;
  bottom: 3px;
  right: -127px;
  background-color: #FA3C45;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  height: 43px;
  line-height: 14px;
  text-align: center;
  padding: 2% 3%;
}

#newsletter .header-input form label {
  color: #11142d;
  font-size: 12px;
  font-weight: 600;
}

#newsletter .header-input form input {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  background-color: #FFFFFF;
  border: none;
  display: inline-block;
  padding: 4%;
  border-radius: 5px;
  width: 280px;
  margin-top: 5%;
}

footer {
  background-color: #c5010a;
  padding: 5% 0 1% 0;
}

#footer-contact .logo-company-social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer-contact .logo-company-social-contact .logo-footer .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer-contact .logo-company-social-contact .logo-footer .left-side i {
  position: relative;
  font-size: 20px;
  color: #FFFFFF;
}

#footer-contact .logo-company-social-contact .logo-footer .left-side i::after {
  background-color: #c5010a;
  content: "";
  position: absolute;
  top: 18px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

#footer-contact .logo-company-social-contact .logo-footer .left-side .logo, #footer-contact .logo-company-social-contact .logo-footer .left-side #download-app .download-our-app .logo-btn .play, #download-app .download-our-app .logo-btn #footer-contact .logo-company-social-contact .logo-footer .left-side .play {
  font-size: 20px;
  position: relative;
  color: #FFFFFF;
}

#footer-contact .logo-company-social-contact .logo-footer .left-side .logo::after, #footer-contact .logo-company-social-contact .logo-footer .left-side #download-app .download-our-app .logo-btn .play::after, #download-app .download-our-app .logo-btn #footer-contact .logo-company-social-contact .logo-footer .left-side .play::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -11px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 0;
  border-color: transparent #FFFFFF transparent transparent;
}

#footer-contact .logo-company-social-contact .logo-footer .left-side .logo b, #footer-contact .logo-company-social-contact .logo-footer .left-side #download-app .download-our-app .logo-btn .play b, #download-app .download-our-app .logo-btn #footer-contact .logo-company-social-contact .logo-footer .left-side .play b {
  font-weight: 700;
}

#footer-contact .logo-company-social-contact .logo-footer .our-studio {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  width: 53%;
  text-align: justify;
  margin-top: 5%;
}

#footer-contact .logo-company-social-contact .company-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer-contact .logo-company-social-contact .company-social-list ul {
  margin-right: 20%;
}

#footer-contact .logo-company-social-contact .company-social-list ul li {
  margin-bottom: 10%;
}

#footer-contact .logo-company-social-contact .company-social-list ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

#footer-contact .logo-company-social-contact .company-social-list ul li:nth-child(2) {
  margin-top: 25%;
}

#footer-contact .logo-company-social-contact .company-social-list ul li:first-child a {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
}

#footer-contact .logo-company-social-contact .contact-list ul li {
  margin-bottom: 4%;
}

#footer-contact .logo-company-social-contact .contact-list ul li a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: nul;
      -ms-flex-pack: nul;
          justify-content: nul;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer-contact .logo-company-social-contact .contact-list ul li a i {
  margin-right: 3%;
  font-size: 22px;
}

#copyright p {
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 3%;
}

.nav .left-side i::after {
  background-color: #c5010a !important;
}

#hero {
  background-color: #c5010a;
  height: 50vh;
  position: relative;
  top: -92px;
  left: 0;
}

#hero h1 {
  position: absolute;
  top: 50%;
  left: 39%;
  font-size: 62px;
  font-weight: 700;
  color: #FFFFFF;
}

#home-inventory .breadcrumb-inp ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home-inventory .breadcrumb-inp ul li,
#home-inventory .breadcrumb-inp ul a {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

#home-inventory .breadcrumb-inp .select-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2%;
}

#home-inventory .breadcrumb-inp .select-form div {
  padding: 0 2% 2% 0;
  border-radius: 7px;
}

#home-inventory .breadcrumb-inp .select-form div .form-select {
  padding: 5%;
}

#contents {
  padding-top: 5%;
  background-color: #f7f7fc;
}

#contents .categories-tesla .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 3%;
}

#contents .categories-tesla .categories .form-search {
  position: relative;
}

#contents .categories-tesla .categories .form-search .search-btn {
  border: none;
  background-color: #FA3C45;
  color: #FFFFFF;
  padding: 12px 24px 12px 24px;
  border-radius: 5px;
  margin-left: 15px;
}

#contents .categories-tesla .categories .form-search .inp-search {
  width: 415px;
  padding: 2% 3%;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 2px solid #ddd;
}

#contents .categories-tesla .categories .form-search h5 {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #11142d;
  font-size: 24px;
  font-weight: 700;
}

#contents .categories-tesla .categories ul {
  position: absolute;
  top: 0;
  right: 6%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contents .categories-tesla .categories ul li {
  font-size: 24px;
  font-weight: 700;
  color: #9a9ab0;
}

#contents .categories-tesla .categories ul li:first-child {
  color: #FA3C45;
}

#contents .categories-tesla .categories ul li:nth-child(2) {
  padding: 0 16%;
}

#contents .categories-tesla h1 {
  padding-top: 3%;
  font-size: 48px;
  font-weight: 700;
  color: #11142d;
}

#contents .categories-tesla .filters {
  padding: 3% 0 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contents .categories-tesla .filters .tesla {
  font-size: 16px;
  font-weight: 400;
  color: #9a9ab0;
}

#contents .categories-tesla .filters .filter-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contents .categories-tesla .filters .filter-icon .sort {
  font-size: 16px;
  font-weight: 700;
  color: #11142d;
  margin: 0;
}

#contents .categories-tesla .filters .filter-icon form {
  margin-left: 18px;
}

#contents .categories-tesla .filters .filter-icon form .form-select {
  width: 125px;
  border-radius: 5px;
  padding: 5px 17px;
}

#contents .categories-tesla .filters .filter-icon .icons {
  margin-left: 20px;
}

#contents .product-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contents .product-list .list .tesla-model {
  padding: 0 7%;
}

#contents .product-list .list .tesla-model h5 {
  color: #FA3C45;
  font-size: 14px;
  font-weight: 700;
}

#contents .product-list .list .tesla-model .model-new {
  font-size: 24px;
  font-weight: 700;
  color: #11142d;
}

#contents .product-list .list .tesla-model .model-new span {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

#contents .product-list .list .tesla-model ul {
  width: 400px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contents .product-list .list .tesla-model ul li {
  color: #92929d;
  font-size: 12px;
  font-weight: 700;
}

#contents .product-list .list .tesla-model ul li p {
  color: black;
  font-size: 16px;
  font-weight: 700;
}

#contents .product-list .list .tesla-model ul li:nth-child(2) {
  margin: 0 10%;
}

#contents .product-list .list .tesla-model .price-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contents .product-list .list .tesla-model .price-btn h3 {
  font-size: 39px;
  font-weight: 700;
  color: #FA3C45;
}

#contents .product-list .list .tesla-model .price-btn .details-btn {
  padding: 11px 24px;
  background-color: #FA3C45;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

#contents .product-list .list .img {
  width: 296px;
  height: 200px;
  border-radius: 8px;
}

#contents .product-list .list .img img {
  border-radius: 8px;
}

#contents .product-list .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0;
}

#contents .product-list .pagination li {
  margin-right: 4%;
}

#contents .product-list .pagination li a {
  color: #92929d;
}

#contents .product-list .pagination li:nth-child(2) a {
  background-color: #c5010a;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 0 6px;
}

#contents .product-list .pagination li:last-child a {
  color: #c5010a;
}

#contents .promo-card {
  background-color: #c5010a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40% 22%;
  color: #FFFFFF;
  border-radius: 8px;
}

#contents .promo-card h3 {
  text-align: center;
}

#contents .promo-card h5 {
  text-align: center;
  padding: 10% 0;
}

#contents .promo-card .details-btn {
  border-radius: 8px;
  padding: 10px 24px 10px 24px;
  border: 2px solid #ddd;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

#contents .contact-us {
  background-color: #FFFFFF;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  padding: 22% 3%;
}

#contents .contact-us h3 {
  font-size: 30px;
  font-weight: 700;
}

#contents .contact-us h5 {
  font-size: 20px;
  font-weight: 400;
  color: #92929d;
  padding: 3% 0;
}

#contents .contact-us .contact-btn {
  padding: 11px 24px;
  border-radius: 8px;
  background-color: #FA3C45;
  color: #FFFFFF;
}

#recommended-for-you {
  background-color: #f7f7fc;
  padding: 10% 0;
}

#recommended-for-you h2 {
  font-size: 48px;
  font-weight: 700;
  color: #11142d;
  padding-bottom: 5%;
}

#recommended-for-you .item {
  position: relative;
  margin-bottom: 10px;
}

#recommended-for-you .item .img {
  width: 266px;
  height: 406px;
  border-radius: 8px;
}

#recommended-for-you .item .img img {
  border-radius: 8px;
}

#recommended-for-you .item .new {
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  left: 25px;
  color: #FA3C45;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 0 5px;
}

#recommended-for-you .item .model-sv {
  position: absolute;
  bottom: 4%;
  left: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#recommended-for-you .item .model-sv .txt {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

#recommended-for-you .item .model-sv p {
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 4px;
  text-transform: capitalize;
}

#recommended-for-you .item .model-sv .price {
  font-size: 24px;
  font-weight: 700;
  color: #FA3C45;
}

#tesla-contents {
  background-color: #f7f7fc;
  margin-top: -91px;
  padding: 100px 0;
}

#tesla-contents .breadcrumb-list ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tesla-contents .breadcrumb-list ul li a {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

#tesla-contents .breadcrumb-list ul li a i {
  margin: 0 -8px;
}

#tesla-contents .promo-card {
  background-color: #c5010a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 26% 22%;
  color: #FFFFFF;
  border-radius: 8px;
}

#tesla-contents .promo-card h3 {
  text-align: center;
}

#tesla-contents .promo-card h5 {
  text-align: center;
  padding: 10% 0;
}

#tesla-contents .promo-card .details-btn {
  border-radius: 8px;
  padding: 10px 24px 10px 24px;
  border: 2px solid #ddd;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

#tesla-contents .contact-us {
  background-color: #FFFFFF;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
  padding: 16% 3%;
}

#tesla-contents .contact-us h3 {
  font-size: 39px;
  font-weight: 700;
  color: #11142d;
  margin-bottom: 15px;
}

#tesla-contents .contact-us form .email-inp {
  margin: 15px 0;
}

#tesla-contents .contact-us form .send-btn {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #FA3C45;
  color: #FFFFFF;
  border: none;
  margin-top: 15px;
}

#tesla-contents .contact-us form input,
#tesla-contents .contact-us form textarea {
  width: 280px;
  border: 1px solid #FA3C45;
  outline: none;
  border-radius: 8px;
  padding: 12px;
}

#tesla-contents .contact-us form textarea {
  height: 125px;
}

#tesla-contents .customer-advisor {
  background-color: #FFFFFF;
  margin-top: 12px;
  padding: 7% 10%;
  border-radius: 8px;
}

#tesla-contents .customer-advisor h5 {
  color: #11142d;
  font-size: 24px;
  font-weight: 700;
}

#tesla-contents .customer-advisor .img-name-view-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

#tesla-contents .customer-advisor .img-name-view-btn .img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#tesla-contents .customer-advisor .img-name-view-btn h6 {
  color: #11142d;
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0;
}

#tesla-contents .customer-advisor .img-name-view-btn .view-profile-btn {
  padding: 18px 24px;
  background-color: #FA3C45;
  color: #FFFFFF;
  border-radius: 8px;
}

#tesla-contents .featured-card {
  background-color: #FFFFFF;
  margin-top: 12px;
  padding: 8% 10%;
  border-radius: 8px;
}

#tesla-contents .featured-card h5 {
  font-size: 24px;
  font-weight: 700;
  color: #11142d;
  padding-bottom: 20px;
}

#tesla-contents .featured-card .img-tesla-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tesla-contents .featured-card .img-tesla-model .img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin-bottom: 15px;
}

#tesla-contents .featured-card .img-tesla-model h5 {
  font-size: 24x;
  font-weight: 700;
  color: #FA3C45;
}

#tesla-contents .featured-card .img-tesla-model h6 {
  font-size: 16px;
  font-weight: 700;
  color: #11142d;
}

#tesla-contents .featured-card .img-tesla-model .tesla-model-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

#tesla-contents .tags {
  background-color: #FFFFFF;
  margin-top: 12px;
  padding: 10% 10%;
  border-radius: 8px;
}

#tesla-contents .tags h5 {
  font-size: 24px;
  font-weight: 700;
  color: #11142d;
  padding-bottom: 20px;
}

#tesla-contents .tags a {
  padding: 8px 24px;
  background-color: #FFFFFF;
  border: 1px solid #FA3C45;
  color: #FA3C45;
  border-radius: 24px;
  font-weight: 700;
  margin: 0 10px 15px 0;
  display: inline-block;
}

#tesla-contents .left-side .images {
  margin-top: 5px;
}

#tesla-contents .left-side .images .img:nth-child(2) {
  margin: 0 5px;
}

#tesla-contents .left-side .img-big {
  margin-right: -5px;
}

#tesla-contents .left-side .description {
  background-color: #f7f7fc;
  margin-top: 8%;
}

#tesla-contents .left-side .description h2 {
  font-size: 31px;
  font-weight: 700;
  color: #333333;
}

#tesla-contents .left-side .description p {
  font-size: 15px;
  font-weight: 400;
  color: #92929d;
  line-height: 1.2;
  padding-top: 15px;
}

#tesla-contents .left-side .intro {
  position: relative;
  padding-top: 15px;
}

#tesla-contents .left-side .intro .intro-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

#tesla-contents .left-side .specification {
  padding: 30px 0;
}

#tesla-contents .left-side .specification .specification-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tesla-contents .left-side .specification .specification-feature h2 {
  color: #333333;
  font-size: 31px;
  font-weight: 700;
  cursor: pointer;
}

#tesla-contents .left-side .specification .specification-feature h2:nth-child(1) {
  margin-right: 20%;
}

#tesla-contents .left-side .specification .specifiaction-list {
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tesla-contents .left-side .specification .specifiaction-list ul {
  padding: 0;
}

#tesla-contents .left-side .specification .specifiaction-list ul:nth-child(2) {
  padding: 0 6%;
}

#tesla-contents .left-side .specification .specifiaction-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7% 0;
  border-bottom: 1px solid #e1e1e1;
}

#tesla-contents .left-side .specification .specifiaction-list ul li:nth-child(4) {
  border: none;
}

#tesla-contents .left-side .specification .specifiaction-list ul li .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

#tesla-contents .left-side .specification .specifiaction-list ul li .icon i {
  color: #FFFFFF;
  background-color: #FA3C45;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}

#tesla-contents .left-side .specification .specifiaction-list ul li .icon h6 {
  color: #92929d;
  font-size: 16px;
  font-weight: 700;
}

#tesla-contents .left-side .specification .specifiaction-list ul li h6 {
  color: #11142d;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

#tesla-contents .left-side .specification .specifiaction-list.active {
  display: none;
}

#tesla-contents .left-side .specification .feature-list {
  padding-top: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tesla-contents .left-side .specification .feature-list ul {
  padding: 0;
}

#tesla-contents .left-side .specification .feature-list ul:nth-child(2) {
  padding: 0 6%;
}

#tesla-contents .left-side .specification .feature-list ul li {
  padding: 7% 0;
}

#tesla-contents .left-side .specification .feature-list ul li:nth-child(4) {
  border: none;
}

#tesla-contents .left-side .specification .feature-list ul li .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

#tesla-contents .left-side .specification .feature-list ul li .icon i {
  color: #FFFFFF;
  background-color: #FA3C45;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
}

#tesla-contents .left-side .specification .feature-list ul li .icon h6 {
  color: #92929d;
  font-size: 16px;
  font-weight: 700;
}

#tesla-contents .left-side .specification .feature-list.active {
  display: none;
}

#tesla-contents .tesla-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

#tesla-contents .tesla-price h2 {
  font-size: 48px;
  font-weight: 700;
}

#tesla-contents .tesla-price .tesla {
  color: #11142d;
}

#tesla-contents .tesla-price .price {
  color: #FA3C45;
}

#recommended-for-you .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0;
}

#recommended-for-you .pagination li {
  margin-right: 4%;
}

#recommended-for-you .pagination li a {
  color: #92929d;
}

#recommended-for-you .pagination li:nth-child(2) a {
  background-color: #c5010a;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 0 6px;
}

#recommended-for-you .pagination li:last-child a {
  color: #c5010a;
}

#profile-message .profile-paragraph {
  background-color: #FA3C45;
  padding: 12% 8%;
  height: 100vh;
  position: relative;
  top: -92px;
  left: 0;
}

#profile-message .profile-paragraph .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#profile-message .profile-paragraph .profile .img {
  width: 144px;
  height: 144px;
}

#profile-message .profile-paragraph .profile .img img {
  border-radius: 50%;
}

#profile-message .profile-paragraph .profile .contact {
  color: #FFFFFF;
}

#profile-message .profile-paragraph .profile .contact h3 {
  text-transform: capitalize;
  font-size: 39px;
  font-weight: 700;
}

#profile-message .profile-paragraph .profile .contact h5 {
  color: #ecf2fe;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 15px 0;
}

#profile-message .profile-paragraph .profile .contact ul {
  padding: 0;
}

#profile-message .profile-paragraph .profile .contact ul li {
  margin-right: 10px;
}

#profile-message .profile-paragraph .profile .contact ul li a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
}

#profile-message .profile-paragraph .profile .contact ul li a i {
  margin-right: 4%;
  font-size: 18px;
}

#profile-message .profile-paragraph .profile .contact ul li:first-child {
  margin-bottom: 15px;
}

#profile-message .profile-paragraph p {
  margin-top: 4%;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  line-height: 1.2;
}

#profile-message .messages-form {
  padding: 10% 8%;
  height: 100vh;
  position: relative;
  top: -92px;
  left: 0;
  background-color: #c5010a;
}

#profile-message .messages-form .form-message .name,
#profile-message .messages-form .form-message .email,
#profile-message .messages-form .form-message .textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#profile-message .messages-form .form-message .name label,
#profile-message .messages-form .form-message .email label,
#profile-message .messages-form .form-message .textarea label {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

#profile-message .messages-form .form-message .name input,
#profile-message .messages-form .form-message .name textarea,
#profile-message .messages-form .form-message .email input,
#profile-message .messages-form .form-message .email textarea,
#profile-message .messages-form .form-message .textarea input,
#profile-message .messages-form .form-message .textarea textarea {
  border-radius: 8px;
  border: none;
  padding: 4%;
  margin-top: 3%;
}

#profile-message .messages-form .form-message .name input,
#profile-message .messages-form .form-message .email input,
#profile-message .messages-form .form-message .textarea input {
  width: 458px;
  height: 46px;
}

#profile-message .messages-form .form-message .name input:focus,
#profile-message .messages-form .form-message .email input:focus,
#profile-message .messages-form .form-message .textarea input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#profile-message .messages-form .form-message .email {
  padding: 5% 0;
}

#profile-message .messages-form .form-message .textarea .message {
  height: 130px;
}

#profile-message .messages-form .form-message .textarea .message:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#profile-message .messages-form .send-btn {
  border: none;
  margin-top: 5%;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  padding: 14px 24px;
  background-color: #c5010a;
  border-radius: 8px;
}

#hero .credit {
  position: absolute;
  top: 50%;
  left: 34%;
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
}

#contents-credit {
  padding: 50px 0 200px 0;
  background-color: #f7f7fc;
  margin-top: -92px;
}

#contents-credit .breadcrumb ul {
  padding: 0 0 3% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contents-credit .breadcrumb ul li {
  color: black;
  font-size: 22px;
  font-weight: 700;
}

#contents-credit .breadcrumb ul li a {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

#contents-credit .promo-card {
  background-color: #c5010a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40% 22%;
  color: #FFFFFF;
  border-radius: 8px;
}

#contents-credit .promo-card h3 {
  text-align: center;
}

#contents-credit .promo-card h5 {
  text-align: center;
  padding: 10% 0;
}

#contents-credit .promo-card .details-btn {
  border-radius: 8px;
  padding: 10px 24px 10px 24px;
  border: 2px solid #ddd;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

#contents-credit .contact-us {
  background-color: #FFFFFF;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
  padding: 9% 3%;
}

#contents-credit .contact-us h3 {
  font-size: 39px;
  font-weight: 700;
  color: #11142d;
  margin-bottom: 15px;
}

#contents-credit .contact-us form .email-inp {
  margin: 15px 0;
}

#contents-credit .contact-us form .send-btn {
  padding: 11px 24px;
  border-radius: 8px;
  background-color: #FA3C45;
  color: #FFFFFF;
  border: none;
  margin-top: 15px;
}

#contents-credit .contact-us form input,
#contents-credit .contact-us form textarea {
  width: 280px;
  border: 1px solid #FA3C45;
  outline: none;
  border-radius: 8px;
  padding: 12px;
}

#contents-credit .contact-us form textarea {
  height: 100px;
}

#contents-credit .intro {
  position: relative;
}

#contents-credit .intro .intro-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

#contents-credit .description {
  background-color: #f7f7fc;
  margin-top: 8%;
}

#contents-credit .description h2 {
  font-size: 31px;
  font-weight: 700;
  color: #333333;
}

#contents-credit .description p {
  font-size: 15px;
  font-weight: 400;
  color: #92929d;
  line-height: 1.2;
}

#contents-credit .loan-calculator {
  border-radius: 8px;
  padding: 50px;
  background-color: #FFFFFF;
}

#contents-credit .loan-calculator h3 {
  color: #11142d;
  font-size: 39px;
  font-weight: 700;
}

#contents-credit .loan-calculator p {
  color: #92929d;
  padding: 6px 0;
}

#contents-credit .loan-calculator form .car-price-inp,
#contents-credit .loan-calculator form .down-payment,
#contents-credit .loan-calculator form .interest-rate-inp,
#contents-credit .loan-calculator form .periode-month-inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contents-credit .loan-calculator form .rate-month-inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0;
}

#contents-credit .loan-calculator form .rate-month-inp .interest-rate-inp {
  padding-right: 10px;
}

#contents-credit .loan-calculator form .rate-month-inp .periode-month-inp {
  padding-left: 10px;
}

#contents-credit .loan-calculator form input {
  border: 1px solid #FA3C45;
  border-radius: 8px;
  outline: none;
  padding: 10px;
}

#contents-credit .loan-calculator form label {
  color: #11142d;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 2%;
}

#contents-credit .loan-calculator form .calculate-btn {
  border: none;
  color: #FFFFFF;
  padding: 14px 24px;
  background-color: #FA3C45;
  border-radius: 8px;
  margin-top: 45px;
}

#newsletter .header-input .resource-btn {
  padding-top: 4%;
}

#newsletter .header-input .resource-btn .premium-btn,
#newsletter .header-input .resource-btn .free-btn {
  background-color: #FA3C45;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 18px 24px;
}

#newsletter .header-input .resource-btn .premium-btn {
  background-color: #FA3C45;
  color: #FFFFFF;
  margin-right: 10px;
}

#newsletter .header-input .resource-btn .free-btn {
  background-color: #FFFFFF;
  color: #FA3C45;
  border: 1px solid #FA3C45;
}

body {
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input, textarea, select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
