@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;800;900&display=swap');
@import 'partials/variables';
@import 'partials/mixins';
@import 'commons/common';
@import 'pages/home';
@import 'pages/explore';
@import 'pages/showroom';
@import 'pages/contact';
@import 'pages/credit';

body{
    font-family: $primary-font;
    overflow-x: hidden;
    box-sizing: border-box;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}