// Navbar Start
.nav {
  z-index: 9999;
  padding-top: 40px;
  @include set-flex(flex, space-between, center, null);
  .left-side {
    display: flex;
    i {
      position: relative;
      font-size: 20px;
      color: $secondary-color;
      &::after {
        content: "";
        @include set-position(absolute, 18px, null, 2px, null);
        background-color: #151515 !important;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
    }
    p {
      font-size: 20px;
      position: relative;
      color: $secondary-color;
      &::after {
        content: "";
        @include set-position(absolute, 4px, null, -11px, null);
        border-style: solid;
        border-width: 0 8px 8px 0;
        border-color: transparent $secondary-color transparent transparent;
      }
      b {
        font-weight: 700;
      }
    }
  }
  .nav-list {
    @include set-flex(flex, null, center, null);
    padding: 0;
    margin-left: -4%;
    li {
      margin-right: 20px;
      a {
        @include set-font(16px, 700);
        color: $secondary-color;
      }
      i {
        @include set-font(24px, 400);
        margin-left: -18px;
        color: $secondary-color;
      }
    }
  }
  .right-side {
    a {
      background-color: $primary-color;
      padding: 14px 24px;
      color: $secondary-color;
      border: none;
      border-radius: 8px;
      position: relative;
      &::after {
        content: "";
        @include set-position(absolute, 6px, null, -60px, null);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #fde5e6;
      }
    }
  }
}
// Navbar End

// Section Model-Sv Start
#model-sv {
  .model {
    background-image: linear-gradient(to right, #000000, #fff);
    @include set-position(relative, -92px, null, 0, null);
    .box {
      padding: 90px;
      @include set-flex(flex, space-between, center, null);
      a {
        background-color: $primary-color;
        padding: 14px 24px;
        color: white;
        border: none;
        border-radius: 8px;
      }
      .content-btn {
        padding-top: 70px;
        h1 {
          color: $secondary-color;
          @include set-font(62px, 700);
          padding: 20px 0;
        }
        h5 {
          color: $secondary-color;
          @include set-font(24px, 400);
        }
        .list-model {
          display: flex;
          color: $secondary-color;
          padding: 30px 0 60px 0;
          li {
            margin-right: 50px;
            font-size: 16px;
            font-weight: 700;
            p {
              color: $primary-color;
              padding-top: 10px;
            }
          }
        }
      }
      .dots {
        .dot {
          width: 10px;
          height: 10px;
          background-color: $primary-color;
          border-radius: 50%;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 25px;
            left: 0;
            width: 10px;
            height: 10px;
            background-color: $secondary-color;
            border-radius: 50%;
          }

          &::before {
            content: "";
            position: absolute;
            top: 25px;
            left: 0;
            width: 10px;
            height: 10px;
            background-color: $secondary-color;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .select-search {
    margin-top: -50px;
    padding: 0 50px 50px 50px;
    background-color: $secondary-color;
    display: flex;
    .submit-btn {
      background-color: #fa3c45;
      padding: 6px 24px 6px 24px;
      color: white;
      border: none;
      border-radius: 8px;
    }
    .select-form {
      display: flex;
      .form-select {
        width: 420px;
        height: 35px;
        margin-right: 30px;
      }
    }
  }
}
// Section Model-Sv End

// Section our-collection Start
#our-collection {
  background-color: #f7f7fc;
  padding: 100px 0;
  .content-model {
    .content-icon {
      @include set-flex(flex, space-between, null, null);
      .icons {
        i {
          color: $primary-color;
          width: 15px;
          height: 15px;
          background: $secondary-color;
          line-height: 15px;
          text-align: center;
          border-radius: 50%;
          border: 1px solid #ddd;
          padding: 5px;
        }
      }
    }
    // .model-sx{
    //     .img-first{
    //       width: 816px;
    //       height: 400px;
    //     }
    //     .img{
    //       width:400px;
    //       height: 400px;
    //     }
    // }
  }

  // .boxes {
  //   display: flex;
  //   flex-wrap: wrap;
  //   .p-2 {
  //     height: 400px;
  //     width: 400px;
  //     img {
  //       max-width: 100%;
  //       object-fit: cover;
  //     }
  //   }
  //   .p-1 {
  //     height: 400px;
  //     width: 816px;
  //     img {
  //       max-width: 100%;
  //       object-fit: cover;
  //     }
  //   }
  // }
}
// Section our-collection End

// Section Milestone Start
#milestone {
  padding: 100px 0;
  background-color: #f7f7fc;
  .img {
    width: 608px;
    height: 544px;
  }
  .over-develop {
    @include set-flex(flex, null, null, column);
    padding: 30px 0 0 10px;
    h2 {
      @include set-font(48px, 700);
    }
    p {
      color: #9a9ab0;
      @include set-font(16px, 400);
    }
    ul {
      display: flex;
      padding: 0;
      li {
        margin-right: 16%;
        @include set-font(50px, 700);
        color: #9a9ab0;
        &:first-child {
          color: $primary-color;
          @include set-font(50px, 700);
          p {
            color: $primary-color;
          }
        }
      }
    }
  }
}
// Section Milestone End

// Section Features Start
#features {
  background-color: $bg-color-red;
  padding: 7% 0;
  .left-side {
    padding-right: 10%;
    h2 {
      @include set-font(49px, 700);
      color: $secondary-color;
      text-transform: capitalize;
      padding-bottom: 20px;
    }
    p {
      color: $secondary-color;
      @include set-font(16px, 200);
      line-height: 20px;
    }
    ul {
      padding-left: 50px;
      padding-top: 20px;
      li {
        position: relative;
        padding-bottom: 20px;
        &::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: white;
          border-radius: 50%;
          top: 0;
          left: -50px;
        }
        h5 {
          color: white;
          font-size: 24px;
          font-weight: 700;
        }
        p {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
  .right-side {
    .img {
      border-radius: 5px;
      width: 608px;
      height: 608px;
      img {
        border-radius: 5px;
      }
    }
  }
}
// Section Features End

// Section Clients Start
#clients {
  padding: 5% 0;
  .our-top-brands {
    .title-brand {
      text-align: center;
      text-transform: capitalize;
      h2 {
        @include set-font(20px, 700);
        color: #11142d;
      }
    }
    .list-brand {
      display: flex;
      padding-top: 2%;
    }
  }
}
// Section Clients End

// Section New-Items Start
#new-items {
  background-color: #f7f7fc;
  padding: 10% 0;
  .title-items {
    h2 {
      color: #11142d;
      padding-bottom: 3%;
      @include set-font(48px, 700);
      text-transform: capitalize;
    }
    // .items {
    //   display: flex;
    //   flex-wrap: wrap;
    //   position: relative;
    //   .img {
    //     width: 608px;
    //     height: 830px;
    //     border-radius: 5px;
    //     position: relative;
    //     img {
    //       border-radius: 5px;
    //     }
    //   }
    //   .pos {
    //     display: flex;
    //     flex-wrap: wrap;
    //     position: relative;
    //     .img {
    //       width: 296px;
    //       height: 304px;
    //       border-radius: 5px;
    //       img {
    //         border-radius: 5px;
    //       }
    //     }
    //   }
    //   div {
    //     padding-right: 5px;
    //   }
    // }
  }
  
  .new-btn {
    border: none;
    color: $primary-color;
    background-color: #f6f7fb;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    border-radius: 5px;
    top: 15px;
    left: 15px;
  }
  .new-model {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 15%;
    h2 {
      color: $secondary-color;
      font-size: 39px;
    }
    h5 {
      color: $secondary-color;
      padding: 0;
      margin-top: -15px;
    }
    span {
      color: $primary-color;
      font-size: 31px;
      font-weight: 700;
      margin-bottom: 16px;
    }
  }
}
// Section New-Items End

//Section Reviews Start
#reviews {
  background-color: #f7f7fc;
  padding-bottom: 10%;
  .header {
    text-align: center;
    h2 {
      color: #2e2e2e;
      @include set-font(48px, 700);
      padding: 1% 26%;
    }
    p {
      padding: 1% 22%;
    }
  }
  .img-testimonial {
    display: flex;
    .img{
      width: 520px;
      height:448px;
    }
    .testimonial {
      @include set-flex(flex, null, center, column);
      padding: 3% 0;
      h4 {
        @include set-font(31px, 700);
        padding: 0 11%;
        text-align: center;
      }
      p {
        color: #92929d;
        @include set-font(19px, 400);
        text-align: center;
        padding: 5% 0;
      }
      h6 {
        @include set-font(16px, 700);
        color: $primary-color;
      }
      span {
        color: #92929d;
        @include set-font(14px, 400);
      }
    }
  }
}
// Section Reviews End

// Section Download-App Start
#download-app {
  padding-top: 5%;
  .img{
    width:443px ;
    height: 878px;
  }
  .download-our-app {
    padding-top: 15%;
    h2 {
      @include set-font(48px, 700);
      color: #11142d;
      text-transform: capitalize;
    }
    p {
      @include set-font(16px, 400);
      color: #92929d;
      padding: 3% 0;
    }
    ul {
      padding: 0;
      li {
        @include set-font(16px, 700);
        color: #11142d;
        margin-bottom: 2%;
        text-transform: capitalize;
        i {
          color: $primary-color;
          background-color: $secondary-color;
          margin-right: 1%;
        }
      }
    }
    .logo-btn {
      padding-top: 5%;
      .logo {
        display: inline-block;
        border: 1px solid #cfcfcf;
        border-radius: 5px;
        width: 40%;
        text-align: center;
        margin-right: 2%;
        color: black;
        @include set-font(22px, 700);
        p {
          font-weight: 400;
          font-size: 12px;
          color: #92929d;
          margin: 0;
          margin-bottom: -13px;
        }
      }
      .play {
        @extend .logo;
        background-color: black;
        color: $secondary-color;
        text-align: center;
        p {
          text-align: justify;
          padding-left: 21%;
          text-transform: uppercase;
          margin-bottom: -13px;
          font-size: 12px;
        }
      }
    }
  }
}
// Section Download-App End

// Section Newsletter Start
#newsletter {
  background-color: #f7f7fc;
  padding: 10% 0;
  .header-input {
    @include set-flex(flex, null, center, column);
    h2 {
      color: #11142d;
      @include set-font(48px, 700);
    }
    p {
      color: #92929d;
      @include set-font(16px, 400);
    }
    form {
      display: flex;
      padding-top: 2%;
      position: relative;
      margin-right: 10%;
      .name-input,
      .email-input {
        @include set-flex(flex, null, null, column);
      }
      .email-input {
        margin: 0 2%;
      }
      .inp-btn {
        @include set-position(absolute, null, 3px, null, -127px);
        background-color: $primary-color;
        color: $secondary-color;
        border-radius: 5px;
        border: none;
        height: 43px;
        line-height: 14px;
        text-align: center;
        padding: 2% 3%;
      }
      label {
        color: #11142d;
        @include set-font(12px, 600);
      }
      input {
        box-shadow: none;
        outline: none;
        background-color: $secondary-color;
        border: none;
        display: inline-block;
        padding: 4%;
        border-radius: 5px;
        width: 280px;
        margin-top: 5%;
      }
    }
  }
}
// Section Newsletter End

// Footer Tag Start
footer {
  background-color: $bg-color-red;
  padding: 5% 0 1% 0;
}
// Footer Tag End

// Section Footer Contact Start
#footer-contact {
  .logo-company-social-contact {
    @include set-flex(flex, space-between, null, null);
    .logo-footer {
      .left-side {
        display: flex;
        i {
          position: relative;
          font-size: 20px;
          color: $secondary-color;
          &::after {
            background-color: $bg-color-red;
            content: "";
            @include set-position(absolute, 18px, null, 2px, null);
            width: 8px;
            height: 8px;
            border-radius: 50%;
          }
        }
        .logo {
          font-size: 20px;
          position: relative;
          color: $secondary-color;
          &::after {
            content: "";
            @include set-position(absolute, 4px, null, -11px, null);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 8px 0;
            border-color: transparent $secondary-color transparent transparent;
          }
          b {
            font-weight: 700;
          }
        }
      }
      .our-studio {
        @include set-font(14px, 400);
        color: $secondary-color;
        width: 53%;
        text-align: justify;
        margin-top: 5%;
      }
    }
    .company-social-list {
      display: flex;
      ul {
        margin-right: 20%;
        li {
          margin-bottom: 10%;
          a {
            @include set-font(14px, 400);
            color: $secondary-color;
          }
          &:nth-child(2) {
            margin-top: 25%;
          }
          &:first-child {
            a {
              @include set-font(18px, 700);
              color: $secondary-color;
            }
          }
        }
      }
    }
    .contact-list {
      ul {
        li {
          margin-bottom: 4%;
          a {
            color: $secondary-color;
            @include set-font(14px, 400);
            @include set-flex(flex, nul, center, null);
            i {
              margin-right: 3%;
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}
// Section Footer Contact En

// Section Copyright Start
#copyright {
  p {
    font-weight: 400;
    color: $secondary-color;
    padding-top: 3%;
  }
}
// Section Copyright End
